<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                 http://www.springframework.org/schema/security
                 http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true" use-expressions="true">
        <!--<intercept-url pattern="/shop/history" access="hasRole('ROLE_USER')"/>-->
        <!--<intercept-url pattern="/shop/admin" access="hasRole('ROLE_ADMIN')"/>-->
        <!--<intercept-url pattern="/shop/admin/**" access="hasRole('ROLE_ADMIN')"/>-->
        <form-login login-page="/login" default-target-url="/index" authentication-failure-url="/error"/>
        <logout logout-success-url="/index"/>
        <csrf disabled="true"/>
    </http>

    <global-method-security secured-annotations="enabled"/>

    <authentication-manager>
        <authentication-provider ref="provider"/>
    </authentication-manager>

</beans:beans>