body {
  padding-top: 54px;
  background: #c7e1ab;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.bg-color {
  background-color: #15b412;
}

.bg-color2 {
  background-color: rgba(21, 180, 18, 0.6);;
}

.bg-color3 {
  background-color: rgba(21, 180, 18, 0.23);;
}

.borderless td, .borderless th {
  border: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

