<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="getController">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/app.js"></script>
    <script src="/resources/js/jquery.min.js"></script>
    <script src="/resources/js/popper.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Delivery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" ng-init="getCurrentUser()">
            <ul class="navbar-nav ml-auto" ng-init="getUsername()">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8080/home">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8080/contacts">Контакты</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Личный кабинет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" ng-if="username=='anonymousUser'">
                        <a class="dropdown-item" href="http://localhost:8080/login">Вход</a>
                        <a class="dropdown-item" href="http://localhost:8080/registration">Регистрация</a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" ng-if="user.role=='ROLE_USER'">
                        <a class="dropdown-item" href="#">{{user.name}}:</a>
                        <a class="dropdown-item" href="http://localhost:8080/information">Личные данные</a>
                        <a class="dropdown-item" href="http://localhost:8080/cart">Корзина</a>
                        <a class="dropdown-item" href="http://localhost:8080/history">История заказов</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://localhost:8080/logout">Выход</a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" ng-if="user.role=='ROLE_MANAGER'">
                        <a class="dropdown-item" href="#">{{user.name}}:</a>
                        <a class="dropdown-item" href="http://localhost:8080/man">Менеджер</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://localhost:8080/logout">Выход</a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" ng-if="user.role=='ROLE_ADMIN'">
                        <a class="dropdown-item" href="#">{{user.name}}:</a>
                        <a class="dropdown-item" href="http://localhost:8080/admin">Админ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://localhost:8080/logout">Выход</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <header class="jumbotron my-4">
        <h6 class="display-4">Администратор</h6>
    </header>


    <table class="table borderless bg-color3" ng-init="getUsers()">
        <thead>
        <tr>
            <th>user_id</th>
            <th>Ник</th>
            <th>Адрес</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.address}}</td>
            <td>
                <form name="post" ng-submit="deleteUser()">             <!--doesn't work-->
                    <button type="submit" data-ng-click="setId(user.id)" class="btn btn-danger">Удалить
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table borderless bg-color3" ng-init="getFreeDrivers()">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Имя водителя</th>
            <th>Телефон</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="driver in drivers" ng-controller="postController">
            <td>{{driver.id}}</td>
            <td>{{driver.name}}</td>
            <td>{{driver.phone}}</td>
            <td>
                <form name="post" ng-submit="deleteDriver()">             <!--doesn't work-->
                    <button type="submit" data-ng-click="setId(driver.id)" class="btn btn-danger">Удалить
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>


    <table class="table borderless bg-color3">
        <thead>
        <th>Добавление водителя</th>
        </thead>
        <thead>
        <tr>
            <th>Номер</th>
            <th>Имя водителя</th>
            <th>Телефон</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <td>3</td>
        <td>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="ids">
            </div>
        </td>
        <td>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="ids">
            </div>
        </td>
        <td>
            <form name="post" ng-submit="addDriver()">            <!--there's no such function-->
                <button type="submit" data-ng-click="setId(driver.id)" class="btn btn-success">Добавить водителя
                </button>
            </form>
        </td>
        </tbody>
    </table>

    <table class="table borderless bg-color3">
        <thead>
        <th>Добавление манагера</th>
        </thead>
        <thead>
        <tr>
            <th>Номер</th>
            <th>Имя манагера</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <td>3</td>
        <td>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="ids">
            </div>
        </td>
        <td>
            <form name="post" ng-submit="addManager()">                           <!--there's no such function-->
                <button type="submit" data-ng-click="setId(driver.id)" class="btn btn-success">Добавить манагера
                </button>
            </form>
        </td>
        </tbody>
    </table>



</div>
</body>
</html>