<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="getController">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/app.js"></script>
    <script src="/resources/js/jquery.min.js"></script>
    <script src="/resources/js/popper.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Delivery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" ng-init="getUsername()">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8080/home">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Личный кабинет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" ng-if="username=='anonymousUser'">
                        <a class="dropdown-item" href="http://localhost:8080/login">Вход</a>
                        <a class="dropdown-item" href="http://localhost:8080/registration">Регистрация</a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" ng-if="username!='anonymousUser'">
                        <a class="dropdown-item" href="#">{{username}}:</a>
                        <a class="dropdown-item" href="http://localhost:8080/information">Личные данные</a>
                        <a class="dropdown-item" href="http://localhost:8080/cart">Корзина</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://localhost:8080/logout">Выход</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h6 class="display-3">Типо доставка еды</h6>
        <p class="lead">Какое-то описание...</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center" ng-init="getFoods()">
        <div ng-repeat="food in foods" class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/resources/photos/{{food.id}}.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{food.name}}</h4>
                    <p class="card-text">{{food.description}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Добавить в корзину</a>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="py-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">324 group 2018</p>
    </div>
</footer>

</body>
</html>